<%- include('../partials/header') %>

    <div class="container my-5">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h2 class="text-primary mb-4">Điều Khoản Sử Dụng</h2>

                <h5>1. Giới thiệu</h5>
                <p>Chào mừng quý khách hàng đến với BookZone. Khi quý khách truy cập vào trang web của chúng tôi có
                    nghĩa là quý khách đồng ý với các điều khoản này.</p>

                <h5>2. Hướng dẫn sử dụng website</h5>
                <p>Khi vào web của chúng tôi, khách hàng phải đảm bảo đủ 18 tuổi, hoặc truy cập dưới sự giám sát của cha
                    mẹ hay người giám hộ hợp pháp.</p>

                <h5>3. Ý kiến khách hàng</h5>
                <p>Tất cả nội dung trang web và ý kiến phê bình của quý khách đều là tài sản của chúng tôi. Nếu chúng
                    tôi phát hiện bất kỳ thông tin giả mạo nào, chúng tôi sẽ khóa tài khoản của quý khách ngay lập tức.
                </p>

                <h5>4. Chấp nhận đơn hàng và giá cả</h5>
                <p>Chúng tôi có quyền từ chối hoặc hủy đơn hàng của quý khách vì bất kỳ lý do gì liên quan đến lỗi kỹ
                    thuật, hệ thống một cách khách quan vào bất kỳ lúc nào.</p>

                <h5>5. Thay đổi quy định</h5>
                <p>BookZone có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Quy định và Điều kiện
                    sử dụng, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà không cần
                    thông báo trước.</p>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>